{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">Does your application list a new source of active substance not covered by:</h1>
          <span class="govuk-caption-l">i) a European Pharmacopoeia certificate of suitability (CEP) or</span>
            <span class="govuk-caption-l">ii) an ASMF which has been assessed and accepted as part of an authorised medicinal product in the UK?</span>
        </legend>
        <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="where-do-you-live" name="where-do-you-live" type="radio" value="england">
            <label class="govuk-label govuk-radios__label" for="where-do-you-live">
                Yes
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="where-do-you-live-2" name="where-do-you-live" type="radio" value="scotland">
            <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
                NO 
            </label>
          </div>
          <div class="govuk-button-group">
            <a class="govuk-link" href="confirmation.html">Continue</a>
          
            <a class="govuk-link" href="question-four.html">Cancel</a>
          </div>
        </div>
      </fieldset>
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">Does your application concern a new route/method of synthesis for active substance?</h1>

        </legend>
        <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="where-do-you-live" name="where-do-you-live" type="radio" value="england">
            <label class="govuk-label govuk-radios__label" for="where-do-you-live">
                Yes
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="where-do-you-live-2" name="where-do-you-live" type="radio" value="scotland">
            <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
                NO 
            </label>
          </div>
          <div class="govuk-button-group">
            <a class="govuk-link" href="confirmation.html">Continue</a>
          
            <a class="govuk-link" href="question-five.html">Cancel</a>
          </div>
        </div>
      </fieldset>
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">Does your application concern use of the active substance for a new population or a new clinical indication?</h1>

        </legend>
        <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="where-do-you-live" name="where-do-you-live" type="radio" value="england">
            <label class="govuk-label govuk-radios__label" for="where-do-you-live">
                Yes
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="where-do-you-live-2" name="where-do-you-live" type="radio" value="scotland">
            <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
                NO 
            </label>
          </div>
          <div class="govuk-button-group">
            <a class="govuk-link" href="confirmation.html">Continue</a>
          
            <a class="govuk-link" href="question-six.html">Cancel</a>
          </div>
        </div>
      </fieldset>
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">Does your application concern a new route of administration, or a new method of administration to the site of action or absorption?</h1>

        </legend>
        <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="where-do-you-live" name="where-do-you-live" type="radio" value="england">
            <label class="govuk-label govuk-radios__label" for="where-do-you-live">
                Yes
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="where-do-you-live-2" name="where-do-you-live" type="radio" value="scotland">
            <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
                NO 
            </label>
          </div>
          <div class="govuk-button-group">
            <a class="govuk-link" href="confirmation.html">Continue</a>
          
            <a class="govuk-link" href="question-seven.html">Cancel</a>
          </div>
        </div>
      </fieldset>
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">Is the product presented as a modified/controlled release dosage form or presented as a metered dose/powder inhaler?</h1>

        </legend>
        <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="where-do-you-live" name="where-do-you-live" type="radio" value="england">
            <label class="govuk-label govuk-radios__label" for="where-do-you-live">
                Yes
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="where-do-you-live-2" name="where-do-you-live" type="radio" value="scotland">
            <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
                NO 
            </label>
          </div>
          <div class="govuk-button-group">
            <a class="govuk-link" href="confirmation.html">Continue</a>
          
            <a class="govuk-link" href="question-eight.html">Cancel</a>
          </div>
        </div>
      </fieldset>
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">Is the application for a sterile product which uses a new sterilisation method or container material in direct contact with the product?</h1>

        </legend>
        <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="where-do-you-live" name="where-do-you-live" type="radio" value="england">
            <label class="govuk-label govuk-radios__label" for="where-do-you-live">
                Yes
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="where-do-you-live-2" name="where-do-you-live" type="radio" value="scotland">
            <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
                NO 
            </label>
          </div>
          <div class="govuk-button-group">
            <a class="govuk-link" href="confirmation.html">Continue</a>
          
            <a class="govuk-link" href="question-nine.html">Cancel</a>
          </div>
        </div>
      </fieldset>
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">Is the application for a new influenza vaccine, or a new manufacturer of strain, or an influenza vaccine using a new manufacturer or manufacturing process?</h1>

        </legend>
        <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="where-do-you-live" name="where-do-you-live" type="radio" value="england">
            <label class="govuk-label govuk-radios__label" for="where-do-you-live">
                Yes
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="where-do-you-live-2" name="where-do-you-live" type="radio" value="scotland">
            <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
                NO 
            </label>
          </div>
          <div class="govuk-button-group">
            <a class="govuk-link" href="confirmation.html">Continue</a>
          
            <a class="govuk-link" href="question-ten.html">Cancel</a>
          </div>
        </div>
      </fieldset>
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">Does your application include a new excipient not previously used in the UK?</h1>

        </legend>
        <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="where-do-you-live" name="where-do-you-live" type="radio" value="england">
            <label class="govuk-label govuk-radios__label" for="where-do-you-live">
                Yes
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="where-do-you-live-2" name="where-do-you-live" type="radio" value="scotland">
            <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
                NO 
            </label>
          </div>
          <div class="govuk-button-group">
            <a class="govuk-link" href="confirmation.html">Continue</a>
          
            <a class="govuk-link" href="question-eleven.html">Cancel</a>
          </div>
        </div>
      </fieldset>
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">None of the above</h1>

        </legend>
        <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="where-do-you-live" name="where-do-you-live" type="radio" value="england">
            <label class="govuk-label govuk-radios__label" for="where-do-you-live">
                Yes
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="where-do-you-live-2" name="where-do-you-live" type="radio" value="scotland">
            <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
                NO 
            </label>
          </div>
          <div class="govuk-button-group">
            <a class="govuk-link" href="confirmation.html">Continue</a>
          
            <a class="govuk-link" href="question-eleven.html">Cancel</a>
          </div>
        </div>
      </fieldset>

    </div>
  </div>

{% endblock %}